extends layouts/main.pug

block content
    .form-container
        form(action=`/video${routes.upload}`, mothod="post")
            label(for="file") Video file
            input(type="file", id="file", name="file")
            input(type="text", placeholoder="Title", name="title")
            textarea(name="description", placeholode="Description")
            input(type="submit", value="Upload Video")